* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#outer{
  width: 400px;
  height: 400px;
  border: 3px solid black;
  background-color: black;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  animation-name: change;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes change {
	0% {border: 2px solid }
}

#outer::after{
  content: '';
  width: 100%;
  position: absolute;
  border: 2px solid aqua;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transform: rotate(90deg);
}

#outer::before{
  content: '';
  width: 100%;
  position: absolute;
  border: 2px solid aqua;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transform: rotate(0deg);
}

.line1 {
  width: 100%;
  position: absolute;
  border: 2px solid white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transform: rotate(30deg);
}

.line2 {
  width: 100%;
  position: absolute;
  border: 2px solid white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transform: rotate(60deg);
}

.line3 {
  width: 100%;
  position: absolute;
  border: 2px solid white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transform: rotate(120deg);
}

.line4 {
  width: 100%;
  position: absolute;
  border: 2px solid white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transform: rotate(150deg);
}

.circle {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 100;
}

#mid {
  position: absolute;
  background-color: black;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  z-index: 200;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#second {
  position: absolute;
  border: 2px solid red;
  width: 10rem;
  z-index: 103;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
}

#minute {
  position: absolute;
  border: 3px solid blue;
  width: 8rem;
  z-index: 102;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
}

#hour {
  position: absolute;
  border: 4px solid lime;
  width: 6rem;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
}